$grey: #9e9e9e;

$grey-lighten-1: lighten( $grey, 15% );
$grey-lighten-2: lighten( $grey, 25% );
$grey-lighten-3: lighten( $grey, 35% );
$grey-darken-1: darken( $grey, 15% );
$grey-darken-2: darken( $grey, 25% );
$grey-darken-3: darken( $grey, 35% );

$red: #f44336;

$red-lighten-1: lighten( $red, 15% );
$red-lighten-2: lighten( $red, 25% );
$red-lighten-3: lighten( $red, 35% );
$red-darken-1: darken( $red, 15% );
$red-darken-2: darken( $red, 25% );
$red-darken-3: darken( $red, 35% );


$green: #4caf50;

$green-lighten-1: lighten( $green, 15% );
$green-lighten-2: lighten( $green, 25% );
$green-lighten-3: lighten( $green, 35% );
$green-darken-1: darken( $green, 15% );
$green-darken-2: darken( $green, 25% );
$green-darken-3: darken( $green, 35% );


$blue: #2196f3;

$blue-lighten-1: lighten( $blue, 15% );
$blue-lighten-2: lighten( $blue, 25% );
$blue-lighten-3: lighten( $blue, 35% );
$blue-darken-1: darken( $blue, 15% );
$blue-darken-2: darken( $blue, 25% );
$blue-darken-3: darken( $blue, 35% );